<?xml version="1.0" encoding="ISO-8859-1"?>
<!--

    Copyright 2011 Streamsource AB. All Rights Reserved by Streamsource AB.

    The content of this file is property of Streamsource AB, org no 556777-9896, with the address
    Hans Michelsensgatan 9, SE-211 20 Malmö, Sweden. Any unauthorized review, use, disclosure
    or distribution is prohibited.

-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

    <servlet>
        <servlet-name>StreamflowPluginServlet</servlet-name>
        <servlet-class>se.streamsource.streamflow.server.plugin.restlet.StreamflowPluginServlet</servlet-class>
        <init-param>
            <param-name>assembler</param-name>
            <param-value>se.streamsource.streamflow.plugins.address.assembler.PluginAssembler</param-value>
        </init-param>
        <init-param>
        	<param-name>preference-node</param-name>
        	<param-value>streamsource/streamflow/plugin-streetaddress</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>

    </servlet>

    <servlet-mapping>
        <servlet-name>StreamflowPluginServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
